<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Erro 404 - Página Não Encontrada</title>
    <link rel="stylesheet" th:href="@{/css/error-pages.css}">
</head>
<body>
<div class="container">
    <img th:src="@{/images/logo.png}" alt="Abrigo Seguro" width="256" height="384">
    <hr>
    <h1>404</h1>
    <p>Página não encontrada</p>
    <hr>
    <br><br>
    <a href="/abrigados">Voltar para Lista de Abrigados</a>
</div>
</body>
</html>